<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div routerLink="/profil">
                    <div *ngIf=(!profilComplet) class="alert alert-warning">Attention ! Veuillez complêter votre profil avant de saisir une demande de congé.</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>Profil</h3>
                        </div>
                        <div class="content">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Société</label>
                                            <select id="select" class="form-control" name="societe" formControlName="societe" [(ngModel)]="currentUser.societe" ngModel>
                                                <option value="002" selected>Infotel Conseil</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email Responsable</label>
                                            <input type="email" class="form-control" [pattern]="emailPattern" name="emailResp" placeholder="Email" formControlName="emailResp"
                                                [(ngModel)]="currentUser.emailResp" ngModel>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <input type="text" class="form-control" name="nom" placeholder="Nom" formControlName="nom" [(ngModel)]="currentUser.nom"
                                                ngModel>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Prénom</label>
                                            <input type="text" class="form-control" name="prenom" placeholder="Prénom" formControlName="prenom" [(ngModel)]="currentUser.prenom"
                                                ngModel>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Matricule</label>
                                            <input type="tel" maxlength="4" minlength="4" class="form-control" name="matricule" placeholder="Matricule" formControlName="matricule"
                                                [(ngModel)]="currentUser.matricule" ngModel>
                                        </div>
                                    </div>
                                    <div class="col-md-6 hidden"></div>
                                </div>

                                <button type="submit" [disabled]="!this.form.valid" class="btn btn-primary btn-fill pull-right">Modifier</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
        
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>