.panel-heading {
    padding: 5px 15px;
	text-align:center;
}

.loginContainer {
	margin-top:10%;
}

a{
color: #1D62F0;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.error {
 color: #ff0039;
 margin-left : 1%;
 margin-bottom :2%;
}

@media (min-width: 640px) { 
.error {

 margin-left : 9%;

}

 }
