<div class="main-content">
    <div class="container-fluid">
 <div class="row">
                <div class="col-lg-6 col-md-6" >
                    <div class="panel panel-primary"  routerLink="/profil">
                        <div class="panel-heading">
                            <div class="row" >
                                <div class="col-xs-3">
                                    <i class="pe-7s-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Profil</h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary" routerLink="/saisie">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="pe-7s-note fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Saisie Congé</h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
 <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary" routerLink="/historique">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="pe-7s-hourglass fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Historique</h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary" routerLink="/deconnexion">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="pe-7s-power fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h3>Déconnexion</h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
